@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject SignInManager<blogtest.Entities.Entities.ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - blogtest.MvcApp</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1316/styles/kendo.common.min.css" />
        <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1316/styles/kendo.default.min.css" />
        <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1316/styles/kendo.dataviz.min.css" />
        <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1316/styles/kendo.dataviz.default.min.css" /> 
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)


</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Blog Test</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="yw0">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Post" asp-action="GetPostList">Blog</a></li>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a asp-area="" asp-controller="Post" asp-action="Manage">Manage</a></li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
                <form class="navbar-form navbar-right" role="form" id="yw1" action="/поиск" method="GET">
                    <div class="input-group">
                        <input maxlength="50" class="form-control top-search-field ui-autocomplete-input" placeholder="Поиск..." name="query" id="top-search-field" type="text" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
 
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - blogtest.MvcApp</p>
        </footer>
    </div>
    <div class="footer ">
        <div class="container top-footer hidden-xs hidden-sm">
            <div class="col-md-3">
                <p class="footer-header-block">
                    exemple| work
                </p>
                <p>Entity Framework and we are going to use Fluent NHibernate/NHibernate combo to build the data-access system.   <text></text></p>
                <p>We are going to create the necessary model classes, data access components, controllers and views <text></text></p>
            </div>
            <div class="col-md-2">
                <p class="footer-header-block">Menu</p>
                <ul class="footer-menu" id="yw3">
                    <li class="active"><a href="/">Main page</a></li>
                    <li><a href="/#">List</a></li>
                    <li><a href="/#">Tags</a></li>
                </ul>
                <p class="footer-header-block">Feedback</p>
                
            </div>
            <div class="col-md-4">
                </table><table><tbody><tr><td><img class="img-circle" style="width: 45px; height: 45px; margin-right:10px;" src="/images/user/random/41.jpg" alt=""></td><td><i><a href="/записи/переход_к_коментарию/1005" class="footer-comments-links">cherry • 27 июня 2017&nbsp;г., 12:01</a></i><br><p><small>Можно ли здесь использовать Recyclerview и его адаптер? Если да, можете ли написать код?&nbsp;</small></p></td></tr></tbody></table><table><tbody><tr><td><img class="img-circle" style="width: 45px; height: 45px; margin-right:10px;" src="/images/user/96.jpg" alt=""></td><td><i><a href="/записи/переход_к_коментарию/1004" class="footer-comments-links">Goodcat • 26 июня 2017&nbsp;г., 16:52</a></i><br><p><small>Спасибо</small></p></td></tr></tbody></table>
            </div>
            <div class="col-md-3">

            </div>
        </div>
        <div class="container add-footer">
            <div class="container">
                <p class="text-muted pull-left">Copyright © 2014 - 2017 by <a href="/">кодер.укр</a>. All Rights Reserved.</p>
                <p class="text-muted pull-right" style="padding-right: 15px;"><a href="http://devreadwrite.com">In English</a></p>
            </div>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>

        @*<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>*@
        <script src="http://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script> 
        <script src="http://cdn.kendostatic.com/2014.3.1119/js/kendo.aspnetmvc.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>

    @RenderSection("Scripts", required: false)
  
</body>
</html>
