@model IEnumerable<blogtest.Entities.Entities.Post>
@{
    ViewData["Title"] = "AdminPanelPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-10">
            <h1 class="page-header">
                List posts

            </h1>
            <a class="btn btn-success" asp-controller="Post" asp-action="Create"><i class="glyphicon glyphicon-plus"></i> Create new post</a>
            <br />
            <br />
            <div id="grid"></div>
        </div>
        <!-- Blog Sidebar Widgets Column -->

    </div>
    <!-- /.row -->
</div>

