@model IEnumerable<blogtest.Entities.Entities.Post>
    @{
        ViewData["Title"] = "AdminPanelPost";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-10">
                <h1 class="page-header">
                    List posts

                </h1>
                <a class="btn btn-success" asp-controller="Post" asp-action="Create"><i class="glyphicon glyphicon-plus"></i> Create new post</a>
                <br />
                <br />
                <table class="table">
                    <tr><th>Name post</th><th>Date create</th><th>Actioms</th></tr>
                    @foreach (var u in Model)
                    {
                        <tr>
                            <td>@u.NamePost</td>
                            <td>@u.CreationDate</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Post" asp-action="Create" asp-route-id=@u.Id><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                                <a class="btn btn-danger" asp-controller="Post" asp-action="Delete" asp-route-PostId=@u.Id><i class="glyphicon glyphicon-remove"></i> Delete</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <!-- Blog Sidebar Widgets Column -->

        </div>
        <!-- /.row -->
    </div>

