@using blogtest.Entities.Entities
@model blogtest.Mvc.Models.IndexViewModel

@*подключаем все tag-хелперы*@
@addTagHelper "*, blogtest.Mvc"

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="page-header">
                This page contains a list of posts
                <small></small>
            </h1>
            @foreach (Post u in Model.Posts)
            {
                <h2>
                    <a asp-controller="Post" asp-action="GetPost" asp-route-postId=@u.Id>@u.NamePost</a>
                </h2>
                <p>@*<span class="glyphicon glyphicon-time"></span> Posted on @u.CreateDate.Date .*@</p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>@u.Description</p>
                <a class="btn btn-primary" asp-controller="Post" asp-action="GetPost" asp-route-postId=@u.Id>Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <hr>
            }
  
            <!-- Pager -->
            <ul class="nav pull-right navbar-nav">
                <page-link page-model="Model.PageViewModel" page-action="GetPostList"></page-link>

            </ul>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <br />
            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>